.borde{
    border-style: solid;
    border-color: black;

}
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 90px;
    background: #D3D3D3;
}

.inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}

.logo{
    float: left;
    padding: 5px 0;
    color: #000;
}

.logo img{
    height: 50px;
}

.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}

.navigation-menu a{
    margin-left: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

.navigation-menu a:hover{
    background: #936565;
    color: #fff;
    transform: scale(1.1);
}

.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
    text-decoration: none;
}

.home{
    color: #fff;
}

.btn-menu{
    text-decoration: none;
}

a.aj_btn {
    background: #936565;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

a.aj_btn:hover{
    background: #fff;
    color: #936565;
    font-weight: 500;
    letter-spacing: 2px;
}

.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}
  
.presentation-module {
    background: #D3D3D3
}

.presentation-container{
    padding: 2rem;
}

.first-image{
    width: 70%;
}


.producto-titulo{
    font-size: 32px;
}
.container-title-products{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.grid-products{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-right: 5rem;
    margin-left: 5rem;
}

.container-title-product{
    width: 100%;
    height: 100%;
}
.product{
    width: 100%;
}

.item-product{
    background-color: #D9D9D9;
    font-size: 30px;
    border-radius: 16px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: transform .2s;
}
.item-product:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.container-img-product{
    width: 100%;
}

.container-title-product{
    width: 100px;
}

.producto-titulo{
    font-weight: 300;
    font-size: 20px;
}

.producto-precio{
    font-weight: 700;
    font-size: 17px;
}

.content-product{
    padding: 15px;
}

.container-about{
    padding: 2rem;
}

.titleabout{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.services-container{
    background: #D9D9D9;
    padding: 3rem;
}

.title-services{
    text-align: center;
    margin-bottom: 3rem;
}

.images-services-container{
    display: flex;
    justify-content: space-between;
}

.commentcontainer{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.container-letters-first{
    position: relative;
    bottom: 120px;
    left: 250px;
    font-size: 30px;
    font-weight: 700;
}

.footer { 
    background: #5B5B5B;
}

.foter-container{
    padding: 15px;
    display: flex;
    justify-content: end;

}

.components-footer{
    font-size: 15px;
    color: #F5F5F5;
}

.item-title-footer{
    font-weight: 600;
    font-size: 17px;
}
.a-footer{
    text-decoration: none;
    color: #F5F5F5;
    transition: transform .2s;
}
.a-footer:hover{
    color: #000;
}

.item-footer{
    text-decoration: none;
}

.products-section{
    margin-bottom: 5rem;
}

.main-container{
    margin-inline: 2em;
}

.container-header-users {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-add-user-button{
    margin-right: 10px;
}

.btn-add-user{
    font-family: 'Inter', sans-serif;
    background-color: #936565;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    border-style: none;
    padding: 15px;
    cursor: pointer;
    transition: transform .2s;
}

.btn-add-user:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.container-table-title-users{
    display: block;
}

.image-add-user{
    width: 15px;
    margin-right: 5px;
}

.title-table-users{
    margin-left: 10px;
    font-family: 'Karla', sans-serif;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table-row-users-head {

    border-bottom: 2px solid black;
}

.table-row-users{
    border-bottom: 1px solid black;
}

.container-table-users{
    width: 100%;
}

.table-head-users{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
}

.table-data-user{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-align: center;
}

.action-image-button{
    width: 20px;
}

.buton-action-user{
    background-color: transparent;
    border-style: none;
    padding: 5px;
    cursor: pointer;
    transition: transform .2s;
}

.buton-action-user:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.principal-container-login{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-assets-login{
    display: flex;
}

.section-login {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    width: 65%;
}

.login-container{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50%;

}

.img-login{
    width: 100%;
}

.form-container{
    display: flex;
    align-items: center;
}

.title-login{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

.input-form-container{
    display: block;
}

.input-login{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 25px;
    border-radius: 7px;
    border-width: thin;
    border-color: rgb(178, 178, 178);
}

.sumbmit-container{
    display: flex;
    justify-content: center;
}

.intpu-submit{
    margin-top: 10px;
    width: 100%;
    background-color: #D7D7D7;
    border-style: none;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.container-form{
    display: flex;
    justify-content: space-between;
}

.colum-1-new-user{
    width: 45%;
    padding: 15px;
}
.container-message{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.message{
    color: red;
}
.sumbmit-container-add-user{
    display: flex;
    justify-content: center;
    
}

.input-submit-add-user{
    margin-top: 10px;
    width: 100%;
    background-color: #D7D7D7;
    border-style: none;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 30%;
    cursor: pointer;
}

.input-add-user{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 3rem;
    border-radius: 7px;
    border-width: thin;
    border-color: rgb(178, 178, 178);
    color: #838383;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

@media screen and (max-width:900px) {
    .menu-toggle-btn{
      display: block !important;
    }
  
    .navigation-menu{
      position: fixed;
      width: 100%;
      max-width: 400px;
      background: #5B5B5B;
      top: 90px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
    }
  
    .navigation-menu::before{
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #5B5B5B;
      position: absolute;
      top: -10px;
      right: 10px;
    }
  
    .navigation-menu a{
      display: block;
      margin: 10px 0;
    }
  
    .navigation-menu.active{
      display: block;
    }
    .grid-products{
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto ;
        padding: 10px;
        margin-right: 5rem;
        margin-left: 5rem;
    }
}